@if (assignment) {
    <mat-card class="assignment-card">
        <mat-card-header>
            <mat-card-title>{{ assignment.nom }}</mat-card-title>
            <mat-card-subtitle>
                Date de rendu : {{ assignment.dateDeRendu | date: 'dd/MM/yyyy' }}
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>
                Statut :
                <span class="status" [class.rendu]="assignment.rendu" [class.non-rendu]="!assignment.rendu">
                    {{ assignment.rendu ? 'Rendu' : 'Non rendu' }}
                </span>
            </p>
        </mat-card-content>

        <mat-card-actions>
            @if (!assignment.rendu) {
                <mat-checkbox (click)="onAssignmentRendu()">
                    Rendu
                </mat-checkbox>   
            }

            <div class="actions">
                <button mat-button class="editBtn" (click)="onEditClick()">
                    Modifier
                </button>

                <button mat-button class="deleteBtn" (click)="onDeleteClick()">
                    Supprimer
                </button>
            </div>
            
        </mat-card-actions>
    </mat-card>
}
